.explicação{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.explicação p{
    margin-inline: 1.5rem;
}
.cultura{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.cultura h2{
    margin-block: 1.5rem;
}
.cultura p{
    margin-inline: 1.5rem;
}
.informações{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.informações h2{
    margin-inline: 3.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.informações img{
    width: 3.9375rem;
}
.cima{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.baixo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.PIB{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.PIB p{
    margin-block: 1.125rem;
}
.moeda{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.moeda P{
    margin-block: 1.125rem;
}
.continente{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.continente p{
    margin-block: 1.125rem;
}
.população{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.população p{
    margin-block: 1.125rem;
}
.significado{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
} 
.significado h2{
    margin-block: 1rem;
}
.significado img{
    width: 15.75rem;
    height: 10.25rem;
    margin-bottom: 1.5rem;
}
.significado p{
    margin-inline: 1.5rem;
    margin-bottom: 1.5rem;
}
.lugares{
    flex-direction: column;
    align-items: center;
}
.lugares h2{
    margin-inline: 4rem;
    margin-bottom: 2rem;
}
.bunce{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde-claro);
    width: 18.5rem;
    height: 17.8125rem;
    border-radius: 16px;
    margin-inline:1.75rem ;
    margin-bottom:1.75rem ;
}
.bunce img{
    width: 15.5rem;
    height: 12.625rem;
    margin-block: 1.25rem;
    border-radius:14px;
}
.bureh{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde-claro);
    width: 18.5rem;
    height: 17.8125rem;
    border-radius: 16px;
    margin-inline:1.75rem ;
    margin-bottom:1.75rem ;
}
.bureh img{
    width: 15.5rem;
    height: 12.625rem;
    margin-block: 1.25rem;
    border-radius:14px;
}
.lakka{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde-claro);
    width: 18.5rem;
    height: 17.8125rem;
    border-radius: 16px;
    margin-inline:1.75rem ;
    margin-bottom:1.75rem ;
}
.lakka img{
    width: 15.5rem;
    height: 12.625rem;
    margin-block: 1.25rem;
    border-radius:14px;
}
